version: "{build}"

# Build host

environment:
  matrix:
    - environment:
      GOVERSION: 1.15

# Build

install:
  # Install the specific Go version.
  - rmdir c:\go /s /q
  - appveyor DownloadFile https://storage.googleapis.com/golang/go%GOVERSION%.windows-amd64.msi
  - msiexec /i go%GOVERSION%.windows-amd64.msi /q

build: off

test_script:
  - go build -o bin\gitbackup.exe
  - go test -v
