name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ master ]

jobs:
  linux_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.24']
    name: Go ${{ matrix.go }} tests - Linux
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - run: go test
      - name: Archive testdata for diagnosis
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: testdata-linux
          path: testdata
  
  macos_tests:
    runs-on: macOS-latest
    strategy:
      matrix:
        go: [ '1.24']
    name: Go ${{ matrix.go }} tests - MacOS
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - run: go test
      - name: Archive testdata for diagnosis
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: testdata-macos
          path: testdata
  
  windows_tests:
    runs-on: windows-latest
    strategy:
      matrix:
        go: [ '1.24' ]
    name: Go ${{ matrix.go }} tests - Windows
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - run: go test
      - name: Archive testdata for diagnosis
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: testdata-windows
          path: testdata
  
  goreleaser_check:
    runs-on: ubuntu-latest
    name: GoReleaser Check
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - name: Run GoReleaser in snapshot mode
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: --snapshot --skip=publish --clean
